html, body {
	height: 100%;
}
.bgdiv {
	background-image: url("../background.jpg");
	background-size: 100% auto;
	background-color: rgb(240, 243, 243);
	background-repeat: repeat-y;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	height: 100%;
	min-height: 100%;

	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.content {
	z-index: 0;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	font-family: 'Inconsolata';
}

h1 {
	margin-top: 1px;
}

.masthead {
	margin-bottom: 0rem;
}

.masthead a {
	color: #ecf0f1;
	color: rgba(255, 255, 255, 0.87);
}

.masthead small {
	color: #bdc3c7;
	color: rgba(255, 255, 255, 0.5);
}

main {
	background-color: rgba(176, 190, 197, .8);
	padding: 10px 10px 10px 10px;
	margin-bottom: 30px;
	border-radius: 15px;
}

div.header {
	width: 100%;
	background-color: #455A64;
	margin-bottom: 3rem;
}
